* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 10px 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 50px;
  max-width: 1000px;
}

.search-input {
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
}

.filter-container {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 10px;
}

.gap {
  display: flex;
  align-items: center;
  gap: 30px
}

.date-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}

.button-filter {
  padding: 10px 55px;
  background-color: aquamarine;
  border: none;
  border-radius: 8px;
}